<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pr-wrap">
                </div>
                <div class="wrap">
                    <p class="form-title">
                        <b>Inscrivez-vous !</b></p>
                    <form name="f" class="Inscrit">
                        <div class="inputBox ">
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <input type="text" name="id" value="" class="form-control input-lg" placeholder="id" /> </div>
                                <div class="col-xs-6 col-md-6">
                                    <input type="text" name="Prénom" value="" class="form-control input-lg" placeholder="login" /> </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <input type="text" name="Adresse" value="" class="form-control input-lg" placeholder="Nom" /> </div>
                                <div class="col-xs-6 col-md-6">
                                    <input type="text" name="login" value="" class="form-control input-lg" placeholder="Prénom" /> </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <input type="text" name="Email" value="" class="form-control input-lg" placeholder="Email" /> </div>
                                <div class="col-xs-6 col-md-6">
                                    <input type="password" name="Mot De Passe" value="" class="form-control input-lg" placeholder="Mot De Passe" /> </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <input type="text" name="Email" value="" class="form-control input-lg" placeholder="Adresse" /> </div>
                                <div class="col-xs-6 col-md-6">
                                    <input type="password" name="Mot De Passe" value="" class="form-control input-lg" placeholder="Télephone" /> </div>
                            </div>
                        </div>
                        <select class="choix" multiple size="0">
                        <option value="Libraire">Libraire</option>
                        <option value="Leceur">Lecteur</option>
                    </select> <br>
                        <input type="text" value="CREE UN COMPTE" class="btn btn-success btn-sm" /> <br><br>
                        <div class="remember-forgot">
                            <div class="row">
                                <div class="col-md-6">
                                     <div class="checkbox">
                                        <label>
                                    <input type="checkbox" />
<b>Je suis un nouveau utilisateur     </b>                          </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
