h2 {
  background: linear-gradient(to right, #f87115, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
   text-align: center;
   top:50%;
   left:50%;
   width:300px; /* A toi de donner la bonne largeur */
   height:200px; /* A toi de donner la bonne hauteur */

   content: "";
   width: 100%;
   border-bottom: 1px solid #ddd;
   top: 55%;
   left: 0;
   z-index: 1;
}
body
{
  background-image: Url("assets/img/ab.jpg") ;
}
