<!--
https://coreui.io/docs/components/sidebar/
-->
<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Smart Book</li>
    <img src="assets/image/logo.jpg" alt="logo">

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="home" routerLinkActive="c-active">
            <!-- core ui icon -->
            <i class="c-sidebar-nav-icon cil-home"></i> Acceuil </a>
    </li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="table" routerLinkActive="c-active" routerLink="/categorie">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-table"></i>Categorie
        </a>
    </li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="table" routerLinkActive="c-active" routerLink="/listelecteur">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-table"></i>Liste Lecteur
        </a>
    </li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="table" routerLinkActive="c-active"  routerLink="/listelibraire">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-table"></i>Liste Libraire
        </a>
    </li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="table" routerLinkActive="c-active"  routerLink="/liste-livres">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-table"></i>Liste Livre
        </a>
    </li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="table" routerLinkActive="c-active"  routerLink="/gerer-compte">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-table"></i>Gestion Compte
        </a>
    </li>


    <!-- allow hosted content -->
    <ng-content></ng-content>
</ul>

