<!--
    action bar in breadcrumb
    https://coreui.io/docs/components/bootstrap/breadcrumb/
    https://getbootstrap.com/docs/4.0/utilities/position/
    see also styles.scss .c-subheader.sticky-top
-->
<div class="c-subheader sticky-top justify-content-between px-3 c-header-shadow">
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item" aria-current="page">Acceuil</li>
        <li class="breadcrumb-item"><a routerLink="/categorie">Catégorie</a></li>
        <li class="breadcrumb-item"><a routerLink="/contact">Contact</a></li>
        <li class="breadcrumb-item"><a href="https://www.facebook.com/First.E.Learning.Academy">Facebook</a></li>


    </ol>

    <!-- Breadcrumb Menu-->
    <div class="c-subheader-nav">
        <div class="btn-group" role="group">
            <a class="btn" href="" > <a routerLink="/inscription"></a> <i class="cil-user-follow">Inscripion</i></a>
            <a class="btn" href="#" > <i class="cil-account-logout">Deconnexion </i></a>

            <!-- https://coreui.io/docs/components/bootstrap/icons/#coreui-icons-free-502-icons -->
        </div>
    </div>
</div>
<main class="c-main">

    <div class="container-fluid">
        <div style="text-align:center">
            <div style="text-align:center " >
            <strong> <h1>Bienvenue Chez Nous</h1></strong>

            <figure class="text-center">
                <blockquote class="blockquote">
                  <p>
                                      Pour vous l’achat de livre n’est pas la solution idéale, vous trouvez cela trop cher, alors que vous lisez le livre qu’une seule fois ? Découvrez alors notre bibliothèque numérique qui vous
                    propose de disposer d’un nombre de livres illimités par rapport aux dizaines de milliers d’ouvrages que nous avons sur notre site de livres.

                  </p>
                </blockquote>
              </figure>

              </div>



     </div>


